body{
    font-family: Segoe UI !important;

}
.navbarLogo{
    display:flex;
    position:fixed;
    left:0px;
    top:0px;
    justify-content:center;
    width:100%;
    z-index: -1 !important;
}

.navBar a{
    color: #6077CC;
}
.navBar{
    z-index: 100;
}

:root {
    --MazdaBlue:#2F4180;
    --MazdaBlueText:#ffffff;
}