:root {
    --MazdaBlue: #2F4180; 
    --MazdaBlueText: #fff;
}


.outerContainer{
    padding: 50px 120px;
    z-index: 1;
}

.carPadding{
    padding: 10px 0px 0px 0px;
}

/*Text above cards*/
.overviewHeader{
    margin-bottom: 60px;
    margin-top: 20px;
    color: #1C274D;
}

.thinLine{
    width: 100%;
    height: 2px;
    background-color: #646E95;
}

/* CARD CSS */
.cardWidth{
    width:400px;
    margin: auto;
}
.cardShadows{
    border: none;
}
.carName{
    margin-top: 10px;
    margin-left: 5px;
    color: var(--MazdaBlueText);
}

.infoCards{
    position: absolute;
    left: 170px;
    display: flex;
    flex: auto;
    flex-flow: column;
    flex-direction: row;
    margin-top: 10px;
}

.infoCardText{
    margin: 5px;
    font-size: small;
    text-align: center;
    color: var(--MazdaBlueText);
}

.cardSpacing{
    margin-bottom: 5px;
    margin-right: 5px;
    border-color: var(--MazdaBlueText);
    background-color: transparent;
}

.buildButton{
    border: 2px solid var(--MazdaBlue);
    color: var(--MazdaBlue);
}
.buildButton:hover{
    color: #fff;
    background-color: var(--MazdaBlue);
}

.underpicture{
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    margin-right: 10px;
}

.cardBackground{
    position: absolute;
    z-index: -1;
    background-color: var(--MazdaBlue);
    height: 115px;
    /* width: 400px; */
    left: 0;
    right: 0;
    border-radius: 5px;
}

.rowSpacing{
    margin-top: 40px;
}