:root {
    --MazdaBlue: #2F4180; 
    --MazdaBlueText: #fff;
}

.overviewHeader{
    text-align: center;
}
.cardWidth{
    width:400px;
}
.cardShadows{
    border: none;
}
.carName{
    margin-top: 10px;
    margin-left: 5px;
    color: var(--MazdaBlueText);
}

.infoCards{
    position: absolute;
    left: 120px;
    display: flex;
    flex: auto;
    flex-flow: column;
    flex-direction: row;
    margin-top: 10px;
}

.infoCardText{
    margin: 5px;
    font-size: small;
    text-align: center;
    color: var(--MazdaBlueText);
}

.cardSpacing{
    margin-bottom: 5px;
    margin-right: 5px;
    border-color: var(--MazdaBlueText);
    background-color: transparent;
}

.buildButton{
    border: 2px solid var(--MazdaBlue);
    color: var(--MazdaBlue);
}
.buildButton:hover{
    color: #fff;
    background-color: var(--MazdaBlue);
}

.underpicture{
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    margin-right: 10px;
}

.cardBackground{
    position: absolute;
    z-index: -1;
    background-color: var(--MazdaBlue);
    height: 115px;
    width: 400px;
}